<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Inicio</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="Login.html">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="sitioEnConstruccion.html">Menu</a>
        <!--falta referencia-->
    </li>
    <li class="nav-item">
        <a class="nav-link" href="sitioEnConstruccion.html">Contacto</a>
    </li>
</ul>
<!--<a class="btn btn-primary" routerLinkActive="active" routerLink="/ingresar"> Ingresar</a>-->